
  
  
  #contador {
    font-size: 1.2em;
    height: 100%; 
    width: 100%; 
    background-image: url(img/bg-claro.jpg);
    background-position: center; 
    background-size: cover; 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    padding: 3em 5em;
    text-align: center;
    font-family: Be Vietnam Pro, system-ui;
    font-weight: 600;
  }

  img {
    height: 120px; 
    margin-bottom: 0px;
  }

  #demo {
    background-color: #FFFFFF77; 
    padding: 20px; 
    border-radius: 10px; 
    font-size: 1.5em; 
    font-weight: 600;
  }

  @media screen and (max-width: 500px) {
    #contador {
      font-size: 0.9em;
    }

    #contador h3 {
      font-size: 1.4em;
    }

    #contador #demo {
      padding: 10px; 
      border-radius: 10px; 
      font-size: 1.2em; 
      font-weight: 600;
      margin-top: 0px;
    }

    #contador .btn {
      font-size: 1.2em; 
      margin-top: 0px;
    }

    #contador img {
      height: 80px;
    }

  }

