
  
  #contador {
    background-image: url(img/bg-modal2.jpg);
    background-position: center;
    background-size: cover;
    /* box-shadow: inset 0 0 0 1000px rgba(55,110,145,.85); */
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 3em;
    text-align: center;
  }

  /*
  p, h1, h2, h3, a {
    filter: drop-shadow(15px 15px 10px black);
  }
    */
  
  .antonio {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 2em;

  }
  
  
  .container-fluid {
    font-family: "Be Vietnam Pro", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  #demo {
    margin-top: 0px;
    margin-bottom: 1em;
  }